<!-- 
*   W1 Music is TMA assignment 
*   using MySQL and PHP
*
*	created by David Sajdl
*	userName: dsajdl01
* 	date 14/02/2015
* -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>[+title+]</title>
		<link rel="stylesheet" type="text/css" href="includes/w1music.css" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body id="[+body_name+]">
	<div class="mainContainer">
		<h1>[+page_heading+]</h1>
       <ul id="topnavbar">
			<li> <a id="home" title="[+title_home+]" href="index.php">[+home+]</a></li>
			<li> <a id="artist" title="[+title_artist+]" href="index.php?page=artists">[+artists+]</a></li>
			<li><a id="songs" title="[+title_song+]" href="index.php?page=songs">[+songs+]</a></li>
		</ul>